.idea
.vscode
config/settings.yml
config/settings.dev.yml
config/settings.dev.*.yml
config/settings.dev.*.yml.log
*/.DS_Store
static/uploadfile
main.exe
*.exe
smart-api
smart-api.exe
temp/
logs/


!temp
vendor

temp/logs
config/settings.dev.yml.log
config/settings.b.dev.yml
cmd/migrate/migration/version-local/*
!cmd/migrate/migration/version-local/doc.go

# go sum
#go.sum
